@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Iniciar Sesión</h1>
    <form method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>
